<div id="name2" class="hidden">
  <div id="legend2">&nbsp;</div>
  <div id="username2">legend</div>
</div>
<div id="placeholder">mouse over the graph for more details</div>
<div id="bound-chart"></div>
<script src="<%= url %>" type="text/javascript" charset="utf-8"></script>
